$text-sm: 0.75rem;
$text-smd: 1rem;
$text-md: 1.15rem;
$text-lg: 1.25rem;
$text-xlg: 2.15rem;
$text-xxlg: 3.5rem;
$text-lilac: rgb(136, 84, 192);

$font-medium: 400;
$font-semibold: 500;
$font-bold: 600;
$font-xbold: 700;

$bg-primary: linear-gradient(90deg, #1d976c 0%, #93f9b9 100%);

:export {
  text-lilac: $text-lilac;
}
